// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink-button:#FF3BB8;
$pink-text-button: #FFDCE0;
$pink-text: #CC2F92;
$pink-cards-hover: #CC2F92;
$pink-cards: #FFDCE0;
$yellow-button: #ECF66D;
$grey-text-button: #5C5C5C;
$grey-texts: #5C5C5C;
$rechazado: #FF5B47;
$confirmado: #2EFF94;
$negociacion: #FFAD30;
$pendiente: #F2FF4B;

$gray-strongest: #5C5C5C;
$gray-middle: #AAAAAA;
$gray-light: #D6D2D2;
$gray-ligther: #FAF6F9;
$white: #FFFF;
