<div class="container">
  <% @users.each do |supplier| %>
    <div class="card" style="width: 18rem;">
        <%= cl_image_tag supplier.photos.first.key, class:"card-img-top" %>
      <div class="card-body">
        <%= link_to supplier.business_name, user_path(supplier) %>
      </div>
    </div>
  <% end %>
</div>
