<div class="d-flex">
  <div class="footer">
    <ul class="copyright d-flex">
      <li>© 2023 EventTik!</li>
      <li><a href="#">Privacidad</a></li>
      <li><a href="#">Términos</a></li>
    </ul>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
